{% extends 'authorize.html' %}

{% block content %}
    <div class="container" id="pw_form">
            <h1>Change Password</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
            {{ pw_form.as_table }}
            </table>
            <a id="Change_pw__button" class="waves-effect waves-light btn" value="Change_pw">Change Password</a>
        </form>
        </div>
{% endblock %}

{% block javascript %}
    {% if messages %}
        <script>
    {% for message in messages %}
    alert('{{ message }}');
    {% endfor %}
        </script>
    {% endif %}
{% endblock %}