{% extends 'Home.html' %}

{% block content %}
    <div class="container" id="order_form">
        <h1>Purchase Order</h1>
        <form method="get" action="/f/purchase_order">
        <p>
            <label>
                <input name="sort_order" type="radio" value="pending" {% if sort == 'pending' %}checked{% endif %}/>
                <span>Pending orders</span>
            </label>
        </p>
        <p>
            <label>
                <input name="sort_order" type="radio" value="holding" {% if sort == 'holding' %}checked{% endif %}/>
                <span>Orders on hold</span>
            </label>
        </p>
        <p>
            <label>
                <input name="sort_order" type="radio" value="past" {% if sort == 'past' %}checked{% endif %}/>
                <span>Past orders</span>
            </label>
        </p>
        <p class="right-align">
            <a id="sort_order_btn" class="waves-effect waves-light btn">Search</a>
        </p>
        </form>
    </div>
        <div class="container">
<table border="1" id="order_list" class="responsive-table highlight">
    <thead class="black white-text">
        <tr>
            <th>POnumber</th>
            <th>Order_date</th>
            <th>Total_payment</th>
            <th>Status</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>username</th>
        </tr>
    </thead>
<tbody>
    {% for y in info %}
        <tr id="{{ y.POnumber }}">
            <td>{{ y.POnumber }}</td>
            <td>{{ y.Order_date }}</td>
            <td>{{ y.Total_payment }}</td>
            <td>{{ y.Status }}</td>
            <td>{{ y.first_name }}</td>
            <td>{{ y.last_name}}</td>
            <td>{{ y.username}}</td>
        </tr>
    {% endfor %}
</tbody>
    </table>
        </div>
{% endblock %}

{% block javascript %}
    <script>
    {% if messages %}
        $(document).ready(function () {
            {% for message in messages %}
                alert('{{ message }}');
                {% endfor %}
        })

    {% endif %}
    $('#order_list tbody tr').click(function(event){
            window.location.href = "/f/purchase_processing#" + event.currentTarget.id
        })
    $('#sort_order_btn').click(function(){
        $('#order_form form').submit()
        })
    </script>
{% endblock %}